/*  First Webpage - Header and First Section */

.first-background {
    background-image: url(Images/headphones_hero_1.jpg);
    background-size: cover;
    width: 1400px;
    height: 800px;
    color: white;
}  

body {
    font-family: "Source Sans Pro" , sans-serif;
}

header {
    font-size: 12px;
    font-weight: bold;
    width: 100%;
}

nav .header-container {
    display: flex;
    justify-content: space-around;
}

nav .logo-container {
    margin-left:10%;
    margin-top: 25px;
    margin-right: auto;
}

.logo-container img {
    height: 50%;
}

 .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 230px;
    
}

.nav-links a {
    color: white;
    margin:7px;
    padding:5px;
    text-decoration: none;
    
}


.outer-box {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 382px;
    top: 372px
}

.top-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.heading-box h2 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 32px;
    font-weight: bold;
}

.p-box p {
    margin-top:1px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
}

.button-box button {
    margin-top:15px;
    font-size: 'Source Sans Pro', sans-serif;
    font-size:14px;
    font-weight: bold;
    background-color:#FF6565 ;
    width:162px;
    height:44px ;
    color:white;
    border-radius:22px;
    border:none;
    text-align: center;
}


.bottom-box {
    margin-top: 25px;
    width:637px;
    height:104px;
}
.bottom-box p {
    font-size: 16px;
    font-weight: normal;
    text-align: center;
}

a:hover {
    color:#FF6565;
}

button:hover {
    opacity: 0.9;
}

@media only screen and (max-width:1000px) {
     .logo {
        height: 30%;
        margin-left: 40px;
     }
    .nav-links  {
        justify-content: center;
        /* padding-right: 20px;
        margin-right: 100px; */
    }
    .outer-box {
        display: flex;
        flex-direction: column;
        align-items:center;
        margin-right:200px;
        padding-right:300px;
    }
    .heading-box {
        margin-right: 200px;
        align-items: center;
        text-align: center; 
    }
    .p-box {
        margin-right: 200px;
        text-align: center
    }
    .button-box {
        margin-right: 200px; 
        text-align: center;
    }
    .bottom-box p {
        margin-right: 200px; 
    }
    .top-box {
        margin-right: 50%;
        align-items: center;
        width:637px;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    .bottom-box {
        text-align: center;
        margin-right: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Tablet Styles 768x800 */
/* Navigation  */
@media only screen and (max-width: 768px) {
    .first-background {
        background-position:left;
     }
    .logo-container {
        display: none;
    }
    .nav-links {
        display: none;
    }

    /* leading section */
    .outer-box {
        position: absolute;
        left: 67px;
        top:372px;
        align-items: center;
    }
    .first-background {
        width: 768px;
        height: 800px;
        background-position: center center;
    }

    .heading-box {
        margin-left: 200px;
        align-items: center;
        text-align: center; 
    }
    .p-box {
        margin-left: 200px;
        text-align: center
    }
    .button-box {   
        margin-left: 200px; 
        text-align: center;
    }
    .bottom-box p {
        margin-left: 200px; 
    }
}

@media only screen and (max-width:480px) {

    .first-background {
        background-position: center center;
    }
    .logo-container {
        display: block;
        justify-content: center;
        margin-left: 100px;
    }
    .outer-box {
        width: 357px;
        height: 436px;
        position: absolute;
        left: 9px;
        top: 327px;
        align-content: center;
        justify-content: center;
        margin-left: 85px;
    } 

    .top-box {
        align-items: center;
    }

    .heading-box h2 {
       text-align: center;
       margin-bottom: 5px;
    }
    
    .p-box p {
        margin-top: 5px;
        width: 279px;
        height: 40px;
       text-align:center;
    } 
    .button-box button {
        width:162px;
        height: 44px;
        margin-top: 5px;
    }
   
    .bottom-box {
        margin-top: 25px;
        align-items: center;
    }
    .bottom-box p {
        font-size: 16px;
        font-weight: normal;
        text-align: center;
    }
}

  
