/*   Homepage - Header and First Section */

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: "Source Sans Pro" , sans-serif;
    width: 100%; 
    margin: 0;
    padding: 0;
}

.first-background {
    background-image: url(Images/headphones_hero_1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: white;
}  

header {
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    
}

 .header-container {
    display: flex;
    justify-content: space-around;
}
.hamburger-menu , .menu-toggle{
    display: none ;
}

header img {
    height: 40px;
}

.logo-container {
    margin: 25px auto ;
}



 .nav-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 230px;
    
}

.nav-links a {
    color: white;
    padding:0 20px;
    text-decoration: none;
    
}


.outer-box {
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    margin: 10px auto;
}

.top-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.heading-box h2 {
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 2em;
    font-weight: bold;
}

.p-box p {
    margin-top:1px;
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 15px;
}

 button {
    margin-top:15px;
    font-size: 'Source Sans Pro', sans-serif;
    font-size:14px;
    font-weight: 500;
    background-color:#FF6565 ;
    width:162px;
    height:44px ;
    color:white;
    border-radius:22px;
    border:none;
    text-align: center;
}


.bottom-box {
    margin-top: 25px;
    width:63%;
}
.bottom-box p {
    font-size: 1em;
    font-weight: 500;
    text-align: center;
}

a:hover {
    color:#FF6565;
}

button:hover {
    opacity: 0.9;
}


/* What We Do Page section styling  */

.container-secondpage {
    min-height: 100vh;
    text-align: center;
    padding: 5% 10%;
    gap: 50px;
}

.top-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20% ;
    padding-bottom:15px;
}

.bottom-container {
    display:grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    gap: 20px;
    margin: 15px 1%;
  }

.title-container {
    color:#071629;
    font-size: 32px;
    font-weight:bold;
    margin-bottom: 50px;
}

.p1-container {
    font-size: 16px;
    width:100%;
    text-align: center;
}

.bottom-container h3 {
    color:#071629;
    font-weight:bold;
    margin:25px 0px;
}

.bottom-container p {  
    width: 207px;
    height: 27px; 
    color:#071629;
    font-size:14px;
}

.bottom-container img {
    height: 50px;
}
.bottom-container {
    text-align: center;
}

/* Results web page section  */

.third-section {
    background-image: url(Images/headphones_hero_2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    color:#fff;
  }

.third-section {
padding: 5% 10%;
text-align: center;
gap: 50px;
}

.total_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 126px;
    padding-bottom: 50px;
}

  .higher_box {
    margin: 0 20%;
    text-align: center;
    padding-bottom: 50px;
  }


 .higher_box h2 {
    font-size: 32px;
    font-weight: 600;
    color: #fff;
    font-weight: 600;
    padding-bottom: 40px;
}

.higher_box p {
    font-size: 16px;
    color: #fff;
}

.lower_box p{
    font-size: 14px;
}

.lower_box {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    width: 85%;
    align-items: center;
}

.lower_box .pentagone  {
    height: 190px;
    width: 190px;
    background-image:url("Images/pentagone.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-content: center;
}

.lower_box h1 {
    font-weight: bold;
    font-size: 2.5em;
}
    
.lower_box h1,
p {
margin: 5px auto;
}
  

