header{
   width:100%;
} 

@font-face{
  font-family: SourceSancePro;
  src:url(/css_basic/css_advanced/Fonts/SourceSansPro-Regular.OTF) format(opentype);
  src:url(https://www.fontsquirrel.com/fonts/source-sans-pro) format(opentype);
}

html {
  font-family: SourceSancePro;
}

nav{
    display: flex;
    align-items: center;
    padding: 20px 50px;
   margin: 20px 60px;
}

.logo{
    height: 50%;
    margin-left:65px;
    margin-right: auto;
}

ul  {
    display: flex;
    justify-content:space-around;
    
}

.links a{
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;  
    margin: 30px; 
 } 

  .background {
    background:url(/css_advanced/Images/background.png);
    width: 1440px;
    height: 1093px;
 }

 .first{
    color:white;
 }

 .container1{
    display: flex;
    flex-direction: column; 

    margin-left:1%;
    margin-top:12%; 
    align-items: center;
    
 }
 .heading1 h1{
    font:Source Sans Pro;
    font-weight: bold;
    font-size:120px;
    display: flex;
    justify-content: left;
    align-items: top;
    margin:5px;
    text-align: center;
 }


 .span {
   font-size: 16px;
   font-weight: bold;
    font-family: sans-serif;
    margin: 40px;
    display: flex;
    justify-content: top;
    margin:5px;
    padding:10px;
 }

 .span span{
   margin:20px;
   font-weight: bold;
   font-size: 16px;
 }

  .button button{
    font-size: 12px;
    text-align: center;
    color:white;
    padding: 16px 11px;
    background-color:#C271FF;
    border-radius: 22px;
    border:none;
    width:162px;
    height:44px;
    margin:5px;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
   
 }

 .container2{
   display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top:8%;
   margin-right: 60px;
   margin-left: 30px;

 }

 .container2 h2{
   width:261px;
   height:40px;
   font-size: 32px;
   margin-bottom: 5%;
   margin-top: 2%;
   justify-content: center;
   align-items: center;
 }

 h2 span{
   color: #C271FF;
 }
 .subcontainer{
   width:1009px;
   height:237px;
   display: flex;
   justify-content: center;
   align-items:center;
   margin-top:15px;
 }

 .subcontainer div{
   width:150px;
   height:237px;
   margin:50px;
   padding: 2px 5px;
   text-align: center;
 }
/* blockquote sectioin */
 .second-section{
   width: 1440px;
   height: 392px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: #C271FF;
 }

 .image-blockquote{
   width:160px;
   height:160px;
   margin-right: 30px;
 }

 .blockquote{
   color:#FFFFFF;
   font-size: 22px;
   width:730px;
   height:158px;
   text-align:justify;
   margin-left:30px ;
 }

 .blockquote h3{
  font-weight: bold;
  margin-top: 30px;
 }

 .blockquote p{
  font-style: italic;
 }

 /* Tutorials Section */
.third-section{
  width: 1228px;
  height: 450px;
}

 .third-section h2{
  display: flex;
  color:#071629;
  font-size: 32px;
  font-weight: light;
  margin-bottom: 20px;
  padding-top: 5px;
 }

 
 .third-section span{
  font-weight: bold;
  color:#C271FF;
  padding-left: 5px;
  padding-right: 5px;
 }

 .third-section h3{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
}

.third-section p{
  font-weight:lighter;
  color: rgb(7,22,41,50.16%);
  font-size: 14px;
}

.rating p{
  font-size: 14px;
  font-weight: bold;
  color:#C271FF;
  margin-left: auto;
  margin-right: 5px;
}
.third-section h4{
  color: #C271FF;
  font-weight:bold;
  margin-left: 10px;

}

.rating div i {
  color: #C271FF; 
}

.rating div:nth-child(5) i {
  color: #979797; 
}

.diagonal-smile{
  margin-top:80px ;
  margin-right:15px ;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.diagonal-smile .play{
  width: 60px;
  height: 60px;
  position: absolute;
  top:40px;
  right:120px;
}



.happy-smile{
  margin-top:80px ;
  margin-right: 15px ;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.happy-smile .play{
  width: 60px;
  height: 60px;
  position: absolute;
  top:40px;
  right:120px;
}

.natural-smile{
  margin-top:80px ;
  margin-right:15px ;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}

.natural-smile .play{
  width: 60px;
  height: 60px;
  position: absolute;
  top:40px;
  right:120px;
}


.sad-smile{
  margin-top:80px ;
  margin-right: 30px ;
  display: flex;
  flex-direction: column;
  justify-content:flex-end;
  position: relative;
}

.sad-smile .play{
  width: 60px;
  height: 60px;
  position: absolute;
  top:40px;
  right:120px;
}



.third-section img{
  width: 255px;
  height: 154px;
  margin-top: 5px;
}
 
.owner {
  display: flex;
  width: 130px;
  height: 30px;
  align-items: center;
  margin-top:10px ;
  margin-bottom:10px ;
  

}

.owner img{
  width:30px ;
  height:30px;
  margin-right:3px;
}
.rating{
  display: flex;
}

.videos-container{
  display: flex;
  justify-content:space-between;
  align-items:center;
  margin-left:50px;
}

.heading-container{
  width:294px;
  height:40px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: 40%;
 }

 
/* membership section */

.fourth-section {
    color:#FFFFFF;
    width: 1440px;
    height:502px ;
    background-color:rgb(7,22,41,100%);
  }


.membership-container{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.fourth-section h2{
  font-size:32px;
  margin-left:38%;
  padding-top:70px;
}
.fourth-section span{
  color:#C271FF;
  font-weight: bold;
}
 

.box img{
  margin-top:60px;
  padding-left: 60px;
}
.box h3{
  font-weight: 18px;
  padding:10px 0px;
  font-weight: bold;
  margin-left:0px;
  text-align:center;
  padding-right:60px;
}

.box p{
  font-weight: 14px;
  padding:10px 0px;
  margin-bottom:70px;
  margin-left: 0px;
  text-align: center;
  padding-right: 60px;
}

.fourth-section button{
  width:162px;
  height:44px;
  font-size: 12px;
  font-weight: lighter;
  border-radius: 30px;
  margin-left:40%;
  background-color: #C271FF;
  color:white;
  padding:2px 6px;
  text-align: center;
  border: none;
}

/* FAQ section */

.fifth-section{
  width:1440px ;
  height:400px ;
}

.fifth-section h2{
  margin-left:40%;
  font-size: 60px;
  font-weight: lighter;
  color: rgb(7,22,41,100%);
  padding-top: 80px;
  margin-bottom: 30px;

}
.allcontainer{
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  
}

.firstrow {
  display: flex;
  padding-top:30px;
  margin-top: 30px;
 }

 .secondrow{
  display: flex;
  padding-top:30px;
  margin-top:30px;
 }

div .paragraph{
  padding:10px;
  margin:30px ;
  width: 350px;
  height: 192px;
  color:rgb(7,22,41,50.16%);
  font-size: 14px;
}

div h3{
  padding:10px;
  margin:30px ;
  width: 145px;
  height: 20px;
  color:#071629;
  font-weight: bold;
  font-size: 16px;
}



/* footer section */

.final{

  width: 1440px;
  height: 249px;
  background-color: #071629;
  color:#ffffff;
}

.innerbox{
  display: flex;
  justify-content: space-between;
  margin-top: 50%;
}

.innerbox img{
  height:20%;
  margin-left:10%;
  padding-top: 100px;
}

.final-item p{
  display: flex;
  justify-content:center;
  align-items: center;
  padding:10px;
  margin-bottom: 10%;
  color:#979797;
  
}

.iconbox {
  height: 20%;
  margin-right:20%;
  padding-top:100px;
  
}