body {
    display:flex;
    flex-direction:column;
    color:white;
    background-color: rgb(167, 39, 39);
}

main {
    display:flex;
    flex-direction: row;
    flex:auto;
}

article {
    flex: 2 ;
    overflow-y: auto;
    background-color: rgb(44, 50, 77);
    color: chartreuse;   
    
}

aside {
    flex: 1 ;
    overflow-y: auto;
}

body.works_on_smartphone {
    display: block;
}


footer {
    color:aliceblue;
}

